.mainApp{  
    display: grid;
    grid-template-rows: 66px 97px 1fr;
    grid-template-columns: 165px 1fr; 
    grid-template-areas: 
    'header header'
    'sideBar dropdown'
    'sideBar productPage';
    margin:  0 108px 66px 88px;
    max-width:  1440px;
}

