*{
  margin: 0;
  overflow: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  list-style: none;

}
:root{
  --active-grey: #59606D;
  --disabled-grey: #959DAD;
  --main-font-color: #1F1F1F;
}

